body {
  background-color: #14b9c9;
}


.ToDoList{
  min-height: 500px;
  width: 400px;
  background-color: #0c3e70;
  margin: 40px auto;
}


#to-do-form input {
  boarder: 0;
  width: 200px;
  height: 100;
  padding: 20 10px;
  line-height: 28px;
  margin: 20px;
  border-radius: 10px; 'rounded'
  color: #000;
}
      
#to-do-form button{
  height: 30px;
  width: 50px;
  border-radius: 5px;
  border: 0;
  background-color: #eba210;
}
